@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@media only screen and (min-width: 360px) {
  .query {
    padding: 0;
  }
}
body {
  background-image: linear-gradient(to right, #556D86, #313F4D);
  color: #F1D7A7 !important;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-align: center;
}

p, a {
  font-size: 12px;
}

a {
  color: #F1D7A7 !important;
}

.bg-image {
  background-image: url("/img/bg-image.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-bottom: -150px;
}

#profile-page .profile {
  padding: 10px;
}
#profile-page .profile .profile-img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#profile-page .profile h1, #profile-page .profile h2 {
  padding: 10px;
}
#profile-page .profile h2 {
  padding-bottom: 20px;
}
#profile-page #profile-listings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  row-gap: 10px;
}
#profile-page #profile-listings .profile-card {
  min-height: 230px;
  width: 150px;
  border: 4px solid #F1D7A7;
  background-color: #25303A;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: left;
  padding: 5px 5px 10px;
}
#profile-page #profile-listings .profile-card .listing-image {
  text-align: center;
  overflow: hidden;
}
#profile-page #profile-listings .profile-card .listing-image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#profile-page #profile-listings .profile-card .listing-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
#profile-page #profile-listings .profile-card .profile-listing-edit-delete {
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  right: -5px;
}
#profile-page #profile-listings .profile-card .profile-listing-edit-delete * {
  margin-right: 10px;
}
#profile-page #profile-listings #add-listing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}
#profile-page #profile-listings #add-listing #add-icon {
  font-size: 28px;
  margin-top: 10px;
}

#product-page #product {
  position: relative;
  margin-top: 200px;
  padding: 20px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "h2 h2" "details aside" "description description";
  row-gap: 15px;
}
#product-page #product .product-img {
  position: absolute;
  top: -215px;
  left: calc(50% - 62.5px);
  z-index: 1;
  padding: 5px;
  background: #F1D7A7;
  border-radius: 20px;
  height: 200px;
  width: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}
#product-page #product .product-img.main-img {
  z-index: 2;
}
#product-page #product .product-img.second-img {
  left: calc(20% - 50px);
  transform: rotate(-11.25deg);
  height: 175px;
  width: 111.25px;
}
#product-page #product .product-img.third-img {
  left: calc(77% - 50px);
  transform: rotate(11.25deg);
  height: 175px;
  width: 111.25px;
}
#product-page #product h2 {
  grid-area: h2;
}
#product-page #product .product-details {
  grid-area: details;
  text-align: left;
}
#product-page #product .product-aside {
  grid-area: aside;
}
#product-page #product .product-description {
  grid-area: description;
}
#product-page #comment-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
#product-page #comment-flex .comment {
  display: grid;
  grid-template-columns: 100px calc(100% - 100px);
  grid-template-rows: auto;
  width: 80%;
  background-color: #25303A;
  border-radius: 15px;
}
#product-page #comment-flex .comment .comment-author {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 10px;
}
#product-page #comment-flex .comment .comment-author img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
#product-page #comment-flex .comment .comment-content {
  text-align: left;
  padding: 10px;
  padding-left: 0;
}

@media screen and (min-width: 540px) {
  #profile-page #profile-listings {
    display: flex;
    justify-content: center;
    gap: 15px 30px;
  }
}
@media only screen and (min-width: 768px) {
  #profile-page .profile {
    padding: 20px 30px;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 20px;
  }
  #profile-page .profile {
    padding: 30px 40px;
  }
  #profile-page #profile-listings {
    padding: 15px 15px 20px;
  }
  #profile-page #profile-listings .profile-card {
    min-height: 350px;
    width: 250px;
  }
  #profile-page #profile-listings .profile-card .listing-title {
    font-size: 28px;
  }
  #profile-page #profile-listings .profile-card .profile-listing-edit-delete {
    font-size: 24px;
    position: absolute;
    bottom: 5px;
    right: -5px;
  }
  #profile-page #profile-listings .profile-card .profile-listing-edit-delete * {
    margin-right: 15px;
  }
  #profile-page #profile-listings #add-listing {
    font-size: 24px;
  }
  #profile-page #profile-listings #add-listing #add-icon {
    font-size: 40px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  #profile-page #profile-listings .profile-card {
    min-height: 440px;
    width: 330px;
  }
  #profile-page #profile-listings .profile-card .listing-image {
    padding: 10px;
  }
  #profile-page #profile-listings .profile-card .listing-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}