// --------------- Tablet Responsive
@media only screen and (min-width: 768px) {
// General

// Header

// Footer

// Home Page

.logo-hero-mobile {
    display: none;
}

.mobile-advert-wrapper {
    display: none;
}

.desktop-advert-wrapper {
    background-image: url("/img/gundamWeb.jpg");
    height: 560px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .desktop-hero-container {
        background-color:rgba(0 0 0 / 20%);
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-desktop {
            font-size: $tablet-xx-large-size;
            padding-top: 100px;
        }
    }
}

.advert-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

.advert-container {
    display: block !important;

    .advert-hitbox {
        width: 502px;
        height: 352px;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
  }

.whats-new-title-mobile {
    display: none;
}

.whats-new-mobile {
    display: none;
}

.weekly-deal-title-mobile {
    display: none;
}

.weekly-deal-mobile {
    display: none;
}

.header-desktop {
    display: block;
    color: $main-gold;
}

.mobile-categories-wrapper {
    display: none;
}

.btn-categories-title {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.category-buttons-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    margin-bottom: 40px;

    .button-item {
        display: flex;
        align-items: center;
        justify-content: center;        
    }

    button {
        display: block;
        width: 130px;
        height: 30px;
        text-transform: uppercase;
        font-weight: $bold-font;
        letter-spacing: 1px;
        border-radius: 10px;
        background-color: $main-gold;
        cursor: pointer;
    }
}

// Profile Page
#profile-page {
    .profile {
        padding: 20px 30px;
    }

    #profile-listings {
        .card-content {
            .listing-image {
                height: 200px;
            }
        }
    }
}

// Add and Edit Modals (Profile Page)
.add-edit-modals {
    form {
        .category-div {
            display: grid;
            grid-template-columns: 200px 1fr 80px;
        }
        .input-div {
            display: grid;
            grid-template-columns: 200px 1fr 80px;
            label {
                text-align: right;
            }
            input, p, textarea, div {
                width: 100%;
            }
            // flex-direction: row;
            // justify-content: center;
            // align-items: initial;
            // width: 100%;
            // gap: 5px;
          }

        .category-flex {
            justify-content: flex-start;
            width: 100%;
            gap: 8px;
            div {
                gap: 2px;
            }
        }
    }
}

// SingleProduct Page
#product-page {
    #product {
      width: 60%;
    }

    #comment-flex {
        .comment, .new-comment-inputs {
            width: 60%;
        }
    }
}
// Payment Page

}